// Fonts
$mainFont: "Sriracha", cursive;
$secondaryFont: "Pacifico", cursive;

// Size
$containerWidth: 970px;
$offset: 15px;
$mainFontWeight: 400;
$mainLineHeight: 1;

// Main text color
$c-white: #fff;
$c-black: #000;
$c-default: #868686;
$c-primary: #fc635e;
$c-success: #adadad;
$c-danger: #adadad;
$c-warning: #adadad;
$c-light: #adadad;

// Main background color
$bg-c-white: #fff;
$bg-c-black: #000;
$bg-c-default: #fc635e;
$bg-c-primary: #f2f2f2;

$z-indexs: (
  underlay: -1,
  relative: 1,
  menu: 5,
  overlay: 10,
  popup: 15
);

$breakpoints: (
  xs: 460px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$align-items: (center, flex-end, flex-start);
$justify-content: (center, flex-end, flex-start, space-between, space-around);
$displays: (block, flex, table, none);
$positions: (relative, absolute, fixed, sticky);
